@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*---------------------------------------------Colours*/

.bg-color-experience{
    background-color: #f4f4f4;
}

.bg-color-the-band{
    background-color: #ffffff;
}
/*---------------------------------------------Header*/
header{
    margin:0;
    background-color: #141414;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

#nav-bar{
    margin: 0;
}

.monkees-image-logo{
    background: url("../images/monkees.jpg");
    background-color: #141414;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 260px;
}

.monkees-text-logo{
     background-color: #141414;
     min-height: 120px;
     transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out; /*Browser prefixes to ensure compatibility*/
}

.menuitem{
    height: 60px;
    text-align: center;
    padding: 0;
    background-color: #fffd16;
    color: #e84610;
}

.menuitem a{
    color: #e84610;
}
/*---------------------------------------------Band Home Page*/
.band-member-image img{
    max-height: 100%;
    max-width:100%;
}

.band-member{
    padding-bottom: 30px;
}
/*---------------------------------------------Music Page*/
.single {
    padding-bottom: 30px;
}
.single-covers img{
    max-height: 148px;
    max-width: 148px;
}

.timeline-item {
    margin:0;
    padding: 4em 2em 0em 2em;
    position: relative;
    color: red;
    border-left: 1px solid;
}

.timeline-item h4{
    padding: 0;
    margin: 0;
}
.timeline-item::before{
    content: attr(dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: .8em;
    padding: 0;
    margin:0;
}

.timeline-item::after{
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: red;
}

/*.discography{*/
/*    max-height: 60px;*/
/*    position: relative;*/
/*    z-index: -1;*/
/*}*/
<<<<<<< HEAD

/*---------------------------------------------Band News Page*/

.news-item{
    padding-bottom: 10px;
}
/*---------------------------------------------Booking Page*/
.booking-form{
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"]{
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #e84610;
    color: #fafafa;
}
=======
>>>>>>> 5229b5c736308467bcc233a1767256a51d8d5ba4
/*---------------------------------------------Footer*/
footer{
    background-color: #525252;
    color: #fafafa;
    min-height: 50px;
    margin:0;
}
.social-text{
   color: red; 
}
.social-links{
    padding-top: 6px;
}
.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius:  50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
        color: #e84610;
}

/*---------------------------------------------Media Queries*/

@media(min-width:992px){
   .monkees-text-logo{
     min-height: 200px;
}
}

