@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*---------------------------------------------Colours*/



/*---------------------------------------------Header*/
header{
    margin:0;
}
#nav-bar{
    margin: 0;
}


.monkees-image-logo{
    background: url("../images/monkees.jpg");
    background-color: #141414;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 260px;
}

.monkees-text-logo{
     background-color: #141414;
     min-height: 120px;
     transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out; /*Browser prefixes to ensure compatibility*/
}

.menuitem{
    height: 60px;
    text-align: center;
    padding: 0;
    background-color: #fffd16;
}

@media(min-width:992px){
   .monkees-text-logo{
     min-height: 200px;
}

